/*----------- PAGINA CONTACTO -------------*/
.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	padding: 20px;
	justify-content: space-evenly;
}
.formulario {
	display: flex;
	flex-direction: column;
	width: 40rem;
	background-color: $colorPrimario;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 50px;
	color: white;
}
.btn-contacto {
	background-color: white;
	border: none;
	color: $colorLetra;
	padding-top: 10px;
	margin: 10px;
	
	&:hover {
		background-color: $colorPrimario;
		border: none;
		color: white;
	}
}
.ubicacionContacto {
	display: flex;
	flex-direction: column;
	color: $colorLetra;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	h2 {
		text-align: center;
		align-content: center;
	}
}
.mapa {
	display: flex;
	flex-direction: column;
	padding: 10px;
	justify-content: center;
}
.form-group {
	button {
		border: white;
		justify-content: center;
		align-items: center;
		padding: 10px;
	}
}

/* ----------- GRILLA ---------------*/
.contenedor {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.4fr 1fr 0.4fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: 
    "header header" 
    "main main" 
    "footer footer";
}
.header {
	grid-area: header;
}
.main {
	grid-area: main;
	background-color: white;
}
.footer {
	grid-area: footer;
	background-color: $colorPrimario;
}


/*----------- RD CELULAR ----------*/
@media screen and (max-width: 468px) {
	.header {
		ul {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	.footer {
		ul {
			display: flex;
			flex-direction: column;
		}
	}
	.redes {
		a {
			display: flex;
			flex-direction: row;
		}
	}

/* ------- PAGINA CONTACTO RD CELULAR ------------*/
.flexbox-container {
	display: flex;
	flex-direction: column;
}
.formulario {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content:center;
	margin: auto;
	padding: 10px;
}
.ubicacionContacto h2{
	padding: 30px;
	margin: 10px;
}
.mapa {
	iframe {
		width: 90%;
		margin: auto;
	}
}
.btn-suscribir{
	display: flex;
	flex-direction: column;

}
}
