/* --------------- PAGINA FAQS -----------*/
.faqs {
	padding: 10px;
}
.faqspreg {
	font-size: 25px;
	font-weight: bold;
	color: #005733;
	font-family: 'Times New Roman', Times, serif;
	padding: 5px;
	text-align: left;
	text-decoration: none;
}
.faqsresp {
	color: #005733;
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	padding: 5px;
	font-weight: 550;
	text-align: left;
}
.bannerfaqs{
	padding: 10px;
}

/* ----------- RD PARA CELULAR ---------------*/
@media screen and (max-width: 480px) {
	.header {
		ul {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	.footer {
		ul {
			display: flex;
			flex-direction: column;
		}
	}
    .faqs article{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-size: 15px;
        justify-content: center;
		padding: 300px;
    }
    .bannerfaqs{
        width: 100%;
		padding: 10px;
    }
}
