/* --------------- PAGINA FAQS -----------*/
.accordion{
	width: 100%;
	text-align: left;
}
.faqs {
	padding: 15px;
}
.faqspreg {
	font-size: 15px;
	font-weight: bold;
	color: #005733;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 2px;
	margin: 5px;
	text-align: left;
	text-decoration: none;
	&:hover {
		color: #6f6f6f;
	}
}
.respuestaFaqs{
	text-align: left;
}
.faqsresp {
	color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fa-stack{
	width: 100%;
	text-align: right;
	
}
.bannerfaqs{
	padding: 5px;
	width: 100%;
}

/* ----------- RD PARA CELULAR ---------------*/
@media screen and (max-width: 480px) {
	.header {
		ul {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	.footer {
		ul {
			display: flex;
			flex-direction: column;
		}
	}
    .faqs article{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-size: 15px;
        justify-content: center;
		padding: 300px;
    }
    .bannerfaqs{
        width: 100%;
		padding: 10px;
    }
}
