/* ------------ PAGINA NOSOTROS ------------*/
.nosotros {
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	article {
		display: flex;
		text-align: left;
		color: #005733;
		font-size: 20px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		line-height: 50px;
		padding: 20px;
		padding-bottom: 10px;
	}
	img {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}

/* ---------- RD PARA CELULAR ----------*/
@media screen and (max-width: 480px) {
	.contenedor {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(0.4fr 0.4fr 0.4fr);
		grid-template-areas: "header" "main" "footer";
	}
	.header {
		ul {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	.footer {
		ul {
			display: flex;
			flex-direction: column;
		}
	}
	.nosotros {
        section {
            img {
                width: 100%;
                padding-top: 10px;
            }
        }
        article {
            display: flex;
            justify-content: center;
            margin: auto;
            font-size: 15px;
        }
    }
	.btn-footer{
		display: flex;
		justify-content: center;
		padding: 10px;
	}
}
