@import "index";
@import "productos";
@import "faqs";
@import "nosotros";
@import "contacto";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ------------ MAPA ---------*/
$estilos:(
    color: #005733,
    padding:10px,
    fuente: 50px, 
);

.header{
    background-color: map-get($estilos , color );
    padding: map-get($estilos , padding);
    font-size: map-get($estilos, fuente);

}

/* --------- EXTEND ----------*/

.btn-outline-success{
    width: 500px;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    color: #005733;
}
.btn-suscribir{
    @extend .btn-outline-success;
    background-color: black;
}

.btn-buscador{
    @extend .btn-outline-success;
    background-color: grey;
}

/* -------- MIXIN ------*/

@mixin FlexBase($display, $direction, $wrap){
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

.imagenesventa{
    @include FlexBase(flex,row ,wrap )
}

