$colorPrimario: #006f48;
$colorLetra: #008037;

@import "index";
@import "productos";
@import "faqs";
@import "nosotros";
@import "contacto";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    display: flex;
    flex-direction: column;
    color:#008037;
    text-align: center;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

