* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------- HEADER -----------*/
/*.header h1{
    display: flex;
    justify-content: left;
    color: #005733;
    align-items: center;
}*/

.header .container-fluid{
    background-color: #005733;
    padding-left: 20px;
    margin-top: 0px;
    /*display: flex;
    justify-content: center;
    color: white;*/
}
.container-fluid button{
    border-radius: 2rem;
    font-size: 20px;
}

.logo{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-left: 150px;
}

.btn-outline-success{
    background-color:white;
    font-weight: 600;
}

.header ul{
    display: flex;
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-style: inherit;
    justify-content: space-around;
    padding: 5px;
}

.header li{
    padding: 5px
}

.header a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* ----------- MAIN INDEX ---------*/
.main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.carrusel{
    display: flex;
    justify-content: center;
    margin-top: auto;
}
.portada{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card{
    color: #005733;
}


.btn-primary{
    display: flex;
    justify-content: center;
    background-color: #005733;
    border: #005733;
    font-size: medium;
    
}

.btn-primary:hover{
    background-color: white;
    color: black;
}

.bannercannon{
    display: flex;
    justify-content: center;
    width: 1100px;
    margin: auto;
}
/*.producto1{
    display: flex;
    justify-content: center;
    color: #005733;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    padding-right: 30px;
    margin-left: 30px;
}

.producto2{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #005733;
    font-weight: bold;
    align-items: center;
    padding-right: 30px;
    margin-left: 30px;
}

.colchdescr1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;


}

.colchdescr2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.detallecolchon1{
    display: flex;
    color: #005733;
    font-size: 15px;
    font-weight: bold;
    justify-content: right;
    align-items: center;
    padding-left: 30px;
}

.detallecolchon2{
    display: flex;
    color: #005733;
    font-size: 15px;
    font-weight: bold;
    justify-content: right;
    align-items: center;
    padding-left: 30px;
}
*/

/* --------- PAGINA NOSOTROS ----------*/
.nosotros section{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.nosotros article{
    display: flex;
    justify-content: center;
    color: #005733;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 30px;
    padding-bottom: 10px;
}

.nosotros img{
    display: flex;
    justify-content: right;
    padding-left: 30px;
}

/* ---------- PAGINA FAQS ---------*/
.mainfaqs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.mainfaqs article{
    color: #005733;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
}

.mainfaqs article p{
    padding: 5px;
}  

/*
.mapa p{
    text-align: center;
    color: #005733;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 5px;
}*/

/* ---------- PAGINA CONTACTO --------*/
.formulario {
    display: inline-block;
    width: 15rem;
    background-color: #005733;
    padding: 20px;
    margin-bottom: 20px;    
    border-radius: 50px;
    color: white;
    
}
.seccionformulario{
    display: inline;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.form-group button{
    display: inline;
    background-color: #005733;
    border: white;
    justify-content: center;
    align-items: center;
}
.ubicacionContacto{
    display: inline;
    color: #005733;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    justify-content:space-between;
}
.mapa{
    display: inline;
    padding: 10px;

}


/* ----------- PAGINA PRODUCTOS -----------*/

.main__productos article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.imagenesventa{
    transition: all 2s;
}

.imagenesventa img:hover{
    height: 250px;
    width: 250px;
}


.main__productos div p{
    font-size: 20px;
    color: #005733;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

/* ---------- FOOTER -----------*/
.footer ul{
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-style: inherit;
    align-items: left;
    padding-top: 10px;
}
.footer a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.footer li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 15px;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    text-align: center;
    padding: 5px;
}
.div redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}


/* ---------- GRILLA ------------*/
.contenedor {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
}
    .header { 
      grid-area: header;
      /*background-color: #005733;*/ 
    }
    .main { 
      grid-area: main;
      background-color: white; 
    }
    .footer { 
      grid-area: footer;
      background-color:  #005733;
}

/*----------- RD CELULAR ----------*/

@media screen and (max-width: 500px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr 1fr 1fr);
        grid-template-areas:
            "header"
            "main"
            "footer"; 
    }
    
    .header ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer li{
        display: flex;
        flex-wrap: wrap;
        justify-content: column;
        font-size: small;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 100;
        text-align: center;
    }
    .redes{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
    }
    /* ------- PAGINA INDEX ------*/   
    
    .portada{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .carousel slide{
        width: 50%;
    }

    .bannercannon{
        display:flex;
        flex-direction: column;
        width: 10%;
        justify-content: center;
        align-items: center;
    }

    /*.bannerprincipal{
        display: none;
    }*/
    /*.producto1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}

    .producto2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    }

    .producto1 img{
        width: 250px;
    }

    .producto2 img{
        width: 250px;
    }*/

    /* --------- PAGINA FAQS ---------*/

    .mainfaqs article{
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        font-size: 15px;
        justify-content: center;
    }

    .mainfaqs section img{
        width: 300px;
    }




    /* -------- PAGINA NOSOTROS -------*/

    .nosotros section img{
        width: 300px;
        padding-top: 10px;
    }

    .nosotros article{
        display: flex;
        justify-content: center;
        padding: 10px;
        font-size: 15px;
    }
    

    /* ---------- PAGINA CONTACTO -------*/
    /*.section__formulario{
        display: flex;
        flex-direction: column;
    }*/
    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ubicacionContacto{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .ubicacion{
        justify-content: space-around;
    }
    .mapa{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50px;
        margin: auto;
        padding-right: 20px;
    }

    

    /* ---------- PAGINA PRODUCTOS --------*/

    .main__productos div img{
        width: 315px;
    }

    .main__productos section article{
        width: 250px
    }
    .main__productos div p{
        justify-content: center;
    }
}
        
    /* ---------- RD TABLET ---------*/

