* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------- HEADER -----------*/
/*.header h1{
    display: flex;
    justify-content: left;
    color: #005733;
    align-items: center;
}*/

.header .container-fluid{
    background-color: #005733;
    padding-left: 20px;
    margin-top: 0px;
    /*display: flex;
    justify-content: center;
    color: white;*/
}
.container-fluid button{
    border-radius: 2rem;
    font-size: 20px;
}

.logo{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-left: 150px;
}

.btn-outline-success{
    background-color:white;
    font-weight: 600;
    color:#005733;
}

.btn-outline-success:hover{
    background-color:#005733;
    color: white;
}
.header ul{
    display: flex;
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-style: inherit;
    justify-content: space-around;
    padding: 5px;
}

.header form{
    display: flex;
    justify-content: end;
    width: 350px;
    align-items: center;

}

.header li{
    padding: 5px
}

.header a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* ----------- MAIN INDEX ---------*/
.main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.portada{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;

}
.card{
    color: #005733;
    margin: 30px;
    border-color: #005733;
    display: flex;
    flex-direction: column;
}
.btn-primary{
    display: flex;
    justify-content: center;
    background-color: #005733;
    border: #005733;
    font-size: medium;
}


.btn-primary:hover{
    background-color: white;
    color: black;
}

.bannercannon{
   display: block;
   padding: 20px;
}
/* --------- PAGINA NOSOTROS ----------*/
.nosotros section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.nosotros article{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #005733;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 30px;
    padding-bottom: 10px;
}

.nosotros img{
    display: flex;
    justify-content: center;
    padding-left: 30px;
}

/* ---------- PAGINA FAQS ---------*/
.mainfaqs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}
.mainfaqs img{
    padding-left: 20px;
    padding-right: 20px;

}
.pregunta{
    color: #005733;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 850;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
}

.respuesta{
    color: #005733;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    text-align: left;
    padding-left:30px;
}
/* ---------- PAGINA CONTACTO --------*/
.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    width:100% ;
    padding: 20px;
    justify-content: space-evenly;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 15rem;
    background-color: #005733;
    padding: 20px;
    margin-bottom: 20px;    
    border-radius: 50px;
    color: white;
}
.btn-lg {
	background-color: white;
    border: none;
    color: #005733;
    padding-top: 10px;
    margin: 10px;
}

.btn-lg:hover{
    background-color: #005733;
    border: none;
    color: white;
}
.ubicacionContacto{
    display: flex;
    flex-direction: column;
    color: #005733;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.ubicacionContacto h2{
    text-align: center;
    align-content: center;
}
.mapa{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}

.form-group button{
    border: white;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* ----------- PAGINA PRODUCTOS -----------*/

.main__productos article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.imagenesventa{
    transition: all 2s;
}

.imagenesventa img:hover{
    height: 250px;
    width: 250px;
}


.main__productos div p{
    font-size: 20px;
    color: #005733;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

/* ---------- FOOTER -----------*/
.footer ul{
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-style: inherit;
    align-items: left;
    padding-top: 10px;
}
    .footer a{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        color: white;
        font-size: 10px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        padding: 5px;
        text-align: center;
    }
    .footer li{
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-size: 15px;
        text-decoration: none;
        list-style-type: none;
        justify-content: center;
        text-align: center;
        padding: 5px;
    }
    .div redes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    }


/* ---------- GRILLA ------------*/
.contenedor {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
}
    .header { 
      grid-area: header;
      /*background-color: #005733;*/ 
    }
    .main { 
      grid-area: main;
      background-color: white; 
    }
    .footer {
      grid-area: footer;
      background-color:  #005733;
}

/*----------- RD CELULAR ----------*/

@media screen and (max-width: 500px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr 1fr 1fr);
        grid-template-areas:
            "header"
            "main"
            "footer"; 
    }
    
    .header ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer ul{
        display: flex;
        flex-direction: column;
        
    }
.redes a{
    display:flex;
    flex-direction: row;

}


    /* ------- PAGINA INDEX ------*/   
    
    .portada{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;
    }
    
    .carousel-inner{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        
    }

    .enviogratis img{
        display: flex;
        width: 30%;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .card{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 70%;

    }

    /*.bannerprincipal{
        display: none;
    }*/
    /*.producto1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}
    .producto2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    }
    .producto1 img{
        width: 250px;
    }
    .producto2 img{
        width: 250px;
    }*/

    /* --------- PAGINA FAQS ---------*/

    .mainfaqs article{
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        font-size: 15px;
        justify-content: center;
    }

    .mainfaqs section img{
        width: 300px;
    }




    /* -------- PAGINA NOSOTROS -------*/

    .nosotros section img{
        width: 300px;
        padding-top: 10px;
    }

    .nosotros article{
        display: flex;
        justify-content: center;
        padding: 10px;
        font-size: 15px;
    }
    

    /* ---------- PAGINA CONTACTO -------*/
    .flexbox-container{
        display: flex;
        flex-direction: column;
    }
    .formulario{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 20px;
    }
    .mapa iframe{
        width: 90%;
        margin-left: 15px;
    }

    /* ---------- PAGINA PRODUCTOS --------*/

    .main__productos div img{
        width: 315px;
    }

    .main__productos section article{
        width: 250px
    }
    .main__productos div p{
        justify-content: center;
    }
}
        
    /* ---------- RD TABLET ---------*/