/* ----------- HEADER ----------*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.header .container-fluid {
  background-color: #006f48;
  padding-left: 20px; }

.header ul {
  display: flex;
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-style: inherit;
  justify-content: space-around;
  padding: 5px; }

.header .buscador {
  display: flex;
  justify-content: flex-end;
  align-content: stretch;
  width: 350px; }

.header li {
  padding: 5px; }

.header a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold; }

.container-fluid button {
  border-radius: 2rem;
  font-size: 20px; }

.enviogratis {
  width: 100%;
  display: flex;
  justify-content: center; }

.logo {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-left: 150px; }

.btn-outline-success {
  background-color: white;
  font-weight: 600;
  color: #005733; }
  .btn-outline-success:hover {
    background-color: #006f48;
    color: white; }

/* ------------ CONTENIDO PAGINA INDEX -----------*/
.muestracolchon {
  display: flex;
  color: #484848;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: right;
  padding: 15px; }
  .muestracolchon h2 {
    color: #008037;
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    text-align: right; }
  .muestracolchon p {
    color: #008037;
    font-size: 15px;
    text-align: right; }
  .muestracolchon ul {
    list-style: none; }

.btn-outline-success {
  background-color: #006f48;
  font-weight: bold;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .btn-outline-success:hover {
    background-color: #006f48;
    color: white; }

.bannercannon {
  display: block;
  padding: 20px; }

/* --------- FOOTER ------------*/
.footerGrid {
  display: grid;
  grid-template-columns: repeat(6fr);
  grid-template-rows: 0.4fr 0.2fr;
  grid-gap: 20px;
  grid-auto-flow: row;
  grid-template-areas: "footer footer footer footer footer footer" "copyright copyright copyright copyright copyright copyright";
  grid-area: footer;
  width: 100%;
  background-color: #006f48; }

.footer {
  width: 100%; }

.col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
  color: white; }
  .col ul {
    display: block;
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0; }
  .col li {
    color: white;
    font-size: 14px;
    font-family: inherit;
    font-size: 16px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    text-align: center; }

.titulosFooter {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.250em;
  text-align: center; }

.menuFooter li a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.menuRedes li a {
  display: flex;
  justify-content: center;
  padding: 5px; }

.btn-footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 35px;
  background-color: white;
  color: #008037;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-color: white;
  border-radius: 0.7rem;
  width: 100px; }
  .btn-footer:hover {
    background-color: #006f48;
    color: white; }

.copyrightFooter {
  grid-area: copyright;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 5px;
  /*background-color: black;*/
  border-top: solid 1px white;
  width: 100%;
  height: 50px; }

.formFooter {
  display: flex;
  justify-content: center;
  padding: 5px; }

.suscribir {
  margin: 20px; }

/* ------- RD PARA CELULAR ----------*/
@media screen and (max-width: 480px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(0.4fr 0.4fr 0.4fr);
    grid-template-areas: "header" "main" "footer"; }
  .header ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .formularioFooter {
    width: 100%;
    margin: auto; }
  .btn-footer {
    margin: auto;
    margin-top: 10px; }
  .seccionesFooter {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .carousel-inner {
    width: 100%; }
  .enviogratis img {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row; } }

/* ---------- CONTENIDO PAGINA PRODUCTOS ---------*/
.main section {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.portada {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px; }

.card {
  color: #005733;
  margin: 20px;
  border-color: #005733;
  display: flex;
  flex-direction: column; }

.card-body {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center; }

.btn-productos {
  display: flex;
  justify-content: center;
  background-color: #005733;
  border: #005733;
  font-size: medium; }
  .btn-productos:hover {
    background-color: white;
    color: #005733;
    border-style: inherit; }

/* ------- RD PARA CELULAR ----------*/
@media screen and (max-width: 480px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(0.4fr 0.4fr 0.4fr);
    grid-template-areas: "header" "main" "footer"; }
  .header ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer ul {
    display: flex;
    flex-direction: column; }
  .redes a {
    display: flex;
    flex-direction: row; }
  .redes form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px; }
  .redes h1 {
    width: 150px; }
  .portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px; }
  .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding: 20px; }
  .bannerproductos img {
    width: 100%;
    padding: 10px; } }

/* --------------- PAGINA FAQS -----------*/
.accordion {
  width: 100%;
  text-align: left; }

.faqs {
  padding: 15px; }

.faqspreg {
  font-size: 15px;
  font-weight: bold;
  color: #005733;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2px;
  margin: 5px;
  text-align: left;
  text-decoration: none; }
  .faqspreg:hover {
    color: #6f6f6f; }

.respuestaFaqs {
  text-align: left; }

.faqsresp {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.fa-stack {
  width: 100%;
  text-align: right; }

.bannerfaqs {
  padding: 5px;
  width: 100%; }

/* ----------- RD PARA CELULAR ---------------*/
@media screen and (max-width: 480px) {
  .header ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer ul {
    display: flex;
    flex-direction: column; }
  .faqs article {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 15px;
    justify-content: center;
    padding: 300px; }
  .bannerfaqs {
    width: 100%;
    padding: 10px; } }

/* ------------ PAGINA NOSOTROS ------------*/
.nosotros section {
  display: flex;
  flex-direction: column;
  align-items: center; }

.nosotros article {
  display: flex;
  text-align: left;
  color: #005733;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 50px;
  padding: 20px;
  padding-bottom: 10px; }

.nosotros img {
  display: flex;
  justify-content: center;
  width: 100%; }

/* ---------- RD PARA CELULAR ----------*/
@media screen and (max-width: 480px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(0.4fr 0.4fr 0.4fr);
    grid-template-areas: "header" "main" "footer"; }
  .header ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer ul {
    display: flex;
    flex-direction: column; }
  .nosotros section img {
    width: 100%;
    padding-top: 10px; }
  .nosotros article {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 15px; }
  .btn-footer {
    display: flex;
    justify-content: center;
    padding: 10px; } }

/*----------- PAGINA CONTACTO -------------*/
.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-evenly; }

.formulario {
  display: flex;
  flex-direction: column;
  width: 40rem;
  background-color: #006f48;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 50px;
  color: white; }

.form-group {
  padding: 5px; }

.btn-contacto {
  background-color: white;
  border: none;
  color: #008037;
  padding-top: 10px;
  margin: 10px; }
  .btn-contacto:hover {
    background-color: #006f48;
    border: none;
    color: white; }

.ubicacionContacto {
  display: flex;
  flex-direction: column;
  color: #008037;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold; }
  .ubicacionContacto h2 {
    text-align: center;
    align-content: center; }

.mapa {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center; }

.form-group button {
  border: white;
  justify-content: center;
  align-items: center;
  padding: 10px; }

/* ----------- GRILLA ---------------*/
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 1fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header"  "main main"  "footer footer"; }

.header {
  grid-area: header; }

.main {
  grid-area: main;
  background-color: white; }

.footer {
  grid-area: footer;
  background-color: #006f48; }

/*----------- RD CELULAR ----------*/
@media screen and (max-width: 480px) {
  .header ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer ul {
    display: flex;
    flex-direction: column; }
  .redes a {
    display: flex;
    flex-direction: row; }
  /* ------- PAGINA CONTACTO RD CELULAR ------------*/
  .flexbox-container {
    display: flex;
    flex-direction: column; }
  .formulario {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 10px; }
  .ubicacionContacto h2 {
    padding: 30px;
    margin: 10px; }
  .mapa iframe {
    width: 90%;
    margin: auto; }
  .btn-suscribir {
    display: flex;
    flex-direction: column; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.titulo {
  display: flex;
  flex-direction: column;
  color: #008037;
  text-align: center;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px; }
